<p>An unexpected error occured <pre><%= @exception.inspect %></pre></p>
<p>Google puts a cap on how many searches one service can make. If you see this message multiple times in a row, this is probably what happened</p>
