<br>
<div class="row">
  <div id="notice" class="sixteen columns">
    <p style="height: 1em"><span></span></p>
  </div>
</div>

<div class="row">
<h1>Feed Me</h1>
<p>Some song lyrics and I'll give you some youtube videos that probably match the song</p>
</div>
<div class="row">
  <div class="twelve columns alpha">
    <input type="text" id="query" />
  </div>
  <div class="four columns omega">
    <input type="button" value="Show Me The Money" id="go" />
  </div>
</div>
<div class="row">
  <div id="result" class="sixteen columns alpha omega">
  </div>
</div>
