<h1>Aw Yea</h1>
<div class="row">
  <div id="notice" class="sixteen columns" style="display: none">
    <p></p>
  </div>
</div>
<div class="row">
  <div class="twelve columns alpha">
    <input type="text" id="query" />
  </div>
  <div class="four columns omega">
    <input type="button" value="Show Me The Money" id="go" />
  </div>
</div>
