#query {
  width: 100%;
  margin-top: 3px;
}

pre, code {
  font-family: monospace;
}

#dialog-modal {
  display: none;
}

.grid {
  margin-left: 1em;
  width: 420px;
  float: left;
}

.title {
  font-weight: bold;
}
